body {
    font-family: Arial, sans-serif; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    height: 100vh; 
    background-color: #2c2c2c;
    color: #ffffff;
    margin: 0;
    padding: 20px; 
}

h1 {
    color: #ffffff;
    margin-bottom: 20px; 
}


.flex-container {
    display: flex;
    justify-content: center;
    width: 100%; 
}

.container, .task-display {
    background: #3a3a3a; 
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); 
    padding: 20px; 
    width: 400px; 
    margin: 10px; 
}

input[type="text"], input[type="datetime-local"], button {
    width: 100%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #555; 
    border-radius: 4px; 
    box-sizing: border-box; 
    background-color: #444; 
    color: #ffffff;
}


button {
    cursor: pointer; 
    background-color: #ff6f91;
    border: none; 
}
button:hover {
    background-color: #ff4f73; 
}
ul {
    list-style-type: none; 
    padding: 0; 
}
li {
    display: flex;
    justify-content: space-between; 
    margin: 5px 0; 
    padding: 10px; 
    background-color: #4a4a4a; 
    border-radius: 4px;
    transition: background-color 0.3s; 
}
li:hover {
    background-color: #555; 
}
.hidden {
    display: none; 
}
.error {
    background-color: rgba(255, 0, 0, 0.8);
    color: white; 
    text-align: center; 
    margin-top: 10px; 
    padding: 10px; 
    border-radius: 5px; 
    width: 400px; 
    margin-bottom: 20px; 
    opacity: 0;
    transition: opacity 0.5s ease-in-out; 
}
.error.visible {
    opacity: 1; 
}
.delete-btn {
    background-color: #dc3545; 
    border: none; 
    cursor: pointer; 
    color: white;
    border-radius: 4px; 
    padding: 5px 8px; 
    font-size: 14px; 
}


.export-btn {
    width: 100px; 
    height: 100px; 
    background-color: #ff6f91; 
    color: white;
    border: none; 
    border-radius: 2px; 
    cursor: pointer; 
    margin-left: 20px; 
    padding: 0; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
